<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @recipient.name %></h1>
    <p>
      Hier ist meine Wunschliste!
      Kauf das!
      <br>
      <% @sender.wunsches.each do |wunsch| %>
       <% preis = ""
            if wunsch.preis > 0
            preis = wunsch.preis.to_s + ' €' 
            end %>
        <%= wunsch.name %> <%= preis %><br>
      <% end %>
      Hier gehts zu der Liste: <a href=http://sor-2015-xmas-1.herokuapp.com/users/<%= @sender.id %>>Klick mich!</a>
      <br>
      Gruß <%= @sender.name %>
    </p>
  </body>
</html>
