<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wunsch.name %>
</p>

<p>
  <strong>Anzahl:</strong>
  <%= @wunsch.anzahl %>
</p>

<%@wunsch.geschenkt = ["LOL","HIHIHIHI", "1Pommes 1Euro"]%>
<%test = @wunsch.geschenkt[0]%>
<p>
  <strong>Geschenkt:</strong>
  <%= test%" a 2" %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @wunsch.preis %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @wunsch.link, @wunsch.link %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @wunsch.beschreibung %>
</p>

<p>
  <strong>Username:</strong>
  <%= @wunsch.user.name %>
</p>

<%= link_to 'Edit', edit_wunsch_path(@wunsch), class: "btn btn-default" %> 
<%= link_to 'Back', wunsches_path, class: "btn btn-default" %>
