<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wunsch.name %>
</p>

<p>
  <strong>Anzahl:</strong>
  <%= @wunsch.anzahl %>
</p>

<p>
  <strong>Geschenkt von:</strong>
  <%= @wunsch.geschenkt%>
</p>

<p>
  <strong>Preis:</strong>
  <%= @wunsch.preis %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @wunsch.link, @wunsch.link %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @wunsch.beschreibung %>
</p>

<p>
  <strong>Username:</strong>
  <%= @wunsch.user.name %>
</p>

<% if user_signed_in? %>
<p>
  <%= link_to 'Schenken', "/add_schenker/#{@wunsch.id}", class: "btn btn-default" %>
</p>
<% end %>
<% if current_user == @wunsch.user %>
<%= link_to 'Edit', edit_wunsch_path(@wunsch), class: "btn btn-default" %>
<% end %>
<%= link_to "Back to #{@wunsch.user.name}", @wunsch.user, class: "btn btn-default" %>
<br>
<br>
<%= link_to 'Back to Wunsches', wunsches_path, class: "btn btn-default" %>