<p id="notice"><%= notice %></p>

<h1>Listing Wunsches of Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Wunsches of User</th>
      <td><%= @user.name %></td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wunsches.each do |wunsch| %>
      <tr>
        <td><%= wunsch.name %></td>
        <td><%= link_to 'Show', wunsch, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>

  <tr>
    <th>Gesamt Preis</th>
    <td><%= @prices_sum %></td>
  </tr>

</table>

<%= link_to 'Back', users_path, class: "btn btn-default" %>
